<!doctype html>
<html>
<head>
    <title>Authenticator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Welcome Bloggers</h1>


    <!-- LOGIN FORM -->
    <form id="loginForm" method="get">
        <button type="submit" class="btn btn-warning btn-lg" name="local login" onclick="submitForm('/loginForm')">Login</button>
        <button type="submit" class="btn btn-warning btn-lg" name="local signup" onclick="submitForm('/signupForm')">Signup</button>
    </form>

    <hr>

</div>
</div>
<script>
    function submitForm(action)
    {
        document.getElementById('loginForm').action = action
        document.getElementById('loginForm').submit()
    }
</script>
</body>
</html>
